{% extends 'base.html.twig' %}

{% block title %}Wild Circus{% endblock %}

{% block body %}
    <div id="" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-dark">
                <img class="d-block w-100" src="/assets/img/home/banner1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/img/home/banner3.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/img/home/banner4.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <div class="row justify-content-center next-show">
        <div class="card custom-card bg-orange text-white">
            <div class="card-body">
                {{ form_start(search) }}
                    {{ form_row(search.search) }}
                <div class="text-center">
                    <button class="btn btn-dark">Find a show near me</button>
                </div>
                {{ form_end(search) }}
            </div>
        </div>
    </div>
    <section>
        <div class="container pb-4">
            <h1>WELCOME TO THE WILD CIRCUS</h1>
            <div class="row mb-2">
                <div class="media  col-12 col-sm-8 p-3">
                    <img class="img-responsive mr-4" src="/assets/img/home/magic.jpg" width="300px" height="160">
                    <div class="media-body">
                        <h3 class="mt-0">Titre</h3>
                        <h5>Date</h5>
                        News content : Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-12 col-sm-8 text-justify">
                    <div class="card-body">
                        <h1>THE CIRCUS</h1>
                        <h4>400 shows, 40 cities, 12 countries and counting...</h4>
                        <p>Today the Wild Circus is strong of its success and is growing bigger every season. Our talent scouts are going around the world to find the best artists and bring them together to work on the biggest circus show ever created: <strong>"The Wildest Hour"</strong>.</p>
                        <p>This incredible tour will soon be near you and is already sold out for 4 out of 6 German shows. Better get ready !
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col-12 col-sm-4 custom-card">
                    <div class="card-body">
                        <h3>AWARDS</h3>
                        <h4>You name it, we won it!</h4>
                        <div class="row mb-2">
                            <div class="col-4">
                                <img src="/assets/img/home/star.png" class="img-responsive d-flex align-self-center" height="60" width="60">
                            </div>
                            <div class="col-4">
                                <img src="/assets/img/home/star.png" class="img-responsive d-flex align-self-center" height="60" width="60">
                            </div>
                            <div class="col-4">
                                <img src="/assets/img/home/star.png" class="img-responsive d-flex align-self-center" height="60" width="60">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <strong>Grand Prix</strong>
                                <em>Monte-Carlo International festival</em>
                            </div>
                            <div class="col-4">
                                <strong>Golden Clown</strong><br/><em>Monte-Carlo International festival</em>
                            </div>
                            <div class="col-4">
                                <strong>ACE</strong><br/><em>American Circus Educators Awards</em>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <h1>SHOWS</h1>
            <div class="row justify-content-center events py-4">
                {% for show in shows|slice(0, 6) %}
                    <div class="col-12 col-sm-5 mb-2">
                        <img class="img-thumbnail" src="{{ show.image[0].src }}">
                        <div class="banner row justify-content-between p-3 text-white">
                            <div>
                                <p class="mb-0">{{ show.name|title }}</p>
                                <em>{{ show.city }}</em>
                            </div>
                            <a href="{{ path('book_show', {'id' :  (show.id) }) }}" class="btn btn-dark bg-orange mr-2 align-self-center">Book</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
{% endblock %}
